*{
    margin: 0;
    padding: 0;
}
#banner{
    background: url(codes.jpg);
    background-size: cover;
    background-position: center;
    height: 75vh
}

.banner-text{
    text-align: center;
    color: #429ea6;
    padding-top: 130px;
}
.banner-text h1{
    font-size: 50px;
    color: goldenrod;
}
.banner-text p{
    font-size: 25px;
    font-style: oblique;}

h1, h2, h3, h4, h5, h6, p, a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: ;
}
body {
    background-color: #eac5d8;
}
.resource {
    color: darkred;
}
